.header-left .subreddit-list-container{
  position: absolute;
  top: 7rem;
  z-index: 2;
  border: 2px solid var(--main-line-color);
  background-color: var(--background-color);
  transform: translateX(-125%);
  transition: all .2s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.header-left .subreddit-list-container.active{
  transform: translateX(0);
}




.header-left .subreddit-list-container h4{
  font-size: 1.8rem;
  text-align: center;
}

.header-left .subreddit-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 35rem;
}



.subreddit-list li{
  width: inherit;

}

.header-left .subreddit-list button{
  width: inherit;
  padding: 1rem 0;
  padding-left: 2rem;
  background-color: var(--background-color);
  border: none;
  border-top: 1px solid var(--main-line-color);
  text-align: left;
  outline: transparent;
}



.header-left .subreddit-list button:hover{
  background-color: var(--main-line-color);
}
