


/* font-family: 'Archivo Black', sans-serif;
font-family: 'Asset', cursive;
font-family: 'Exo', sans-serif; */



/* header */

:root{
  --main-font-color: rgb(44,44,44);
  --sub-font-color: rgb(77,77,77);
  --main-line-color: rgb(39, 39, 39);
  --background-color: rgb(242, 250,250);
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%234d4d4d' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

html{
  font-size: 62.5%;
}

.main-container{
  margin: 0 5rem;
}

@import "./styles/header.css";
@import "./styles/grid.css";
@import "./styles/subredditList.css";

.loader-container{
  color: var(--main-font-color);
  text-align: center;
}

.footer-container{
  margin: 2rem;
  border-top: 1px solid var(--main-line-color);
  border-bottom: 1px solid var(--main-line-color);
  padding: 1rem 0;
  text-align: center;

}

.footer-container a{
  font-family: 'Exo', sans-serif;
  color: var(--main-font-color);
  font-size: 1.9rem;
  border-top: 1px solid var(--main-line-color);
  border-bottom: 1px solid var(--main-line-color);
  text-decoration: none;
  transition: all .2s ease-in;
}

.footer-container a:hover{
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: underline;

}



@import "./styles/responsiveItems.css";






